<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ElixirPackages · Phoenix Framework</title>
		<link
			rel="stylesheet"
			href='<%= Routes.static_path(@conn, "/css/app.css") %>'
		/>
		<script
			defer
			type="text/javascript"
			src='<%= Routes.static_path(@conn, "/js/app.js") %>'
		></script>
	</head>
	<body>
		<header class="py-2 bg-purple-800 text-white">
			<div
				class="container mx-auto px-6 h-16 flex justify-between items-center"
			>
				<a href="/" class="font-extrabold text-lg">Elixir Packages</a>
				<nav role="navigation">
					<ul class="flex space-x-5">
						<%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
						<li>
							<%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
						</li>
						<% end %>
						<li>
							<%= link "Admin", to: Routes.admin_grid_path(@conn, :index) %>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<details class="bg-purple-200">
			<summary class="list-none container mx-auto px-6 py-2">
				Show grids
			</summary>

			<nav class="py-2 bg-purple-100">
				<div class="container mx-auto px-6">
					<ul>
						<%= for grid <- ElixirPackages.PackageGrids.list_grids_alphabetically() do %>
							<li>
								<%= link grid.name, to: Routes.grid_path(@conn, :show, grid) %>
							</li>
						<% end %>
					</ul>
				</div>
			</nav>
		</details>

		<main role="main" class="container mx-auto px-6 py-4">
			<%= if get_flash(@conn, :info) do %>
				<p class="alert alert-info" role="alert">
					<%= get_flash(@conn, :info) %>
				</p>
			<% end %>
			<%= if get_flash(@conn, :error) do %>
				<p class="alert alert-danger" role="alert">
					<%= get_flash(@conn, :error) %>
				</p>
			<% end %>
			<%= @inner_content %>
		</main>
	</body>
</html>
